@import "~src/scss/imports";

header {
  .menu-anchor {
    cursor: pointer;
    display: grid;
    grid-template-columns: 10vw 10vw;
    grid-column-gap: 0.2vw;
    grid-template-rows: 1fr;
    .hamburger {
      div {
        border-radius: 10em;
        background-color: white;
        width: 1.5em;
        height: 0.2em;
        margin-bottom: 0.32em;
      }
    }
  }
}
