$site-icon-width: 4.2vw;
.page-header{
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
    .site-icon{
        float: left;
        height: $site-icon-width;
        width: $site-icon-width * 1.7;
        background-color: rebeccapurple;
        p {
            padding: 0;
            margin: 0;
            font-size: $site-icon-width * 0.7;
            transition: all 0.3s ease;
            &:hover{
                background-color: coral;
            }
        }
    }
    .site-icon-text{
        float: left;
        height: $site-icon-width;
        font-size: $site-icon-width * 0.35;
        padding: 1%;
        transition: all 0.3s ease;
    }
    &:after{
        content: "";
        clear: both;
        display: table;
    }
}