$background_color: rgb(0, 0, 0);
$background_shadow_color: #656a56;
$text_color: rgb(213, 176, 240);
$header_text_color: rgb(241, 228, 210);
$link_color: rgb(137, 170, 67);
$site_icon_color: rgb(143, 202, 116);