$background_color: rgb(16, 17, 12);
$background_shadow_color: #656a56;
$text_color: rgb(241, 231, 248);
$header_text_color: rgb(241, 228, 210);
$link_color: rgb(240, 170, 152);
$site_icon_color: $link_color;