@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

section.container-fluid{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    color: rgb(16, 16, 92);
}   