
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");


@mixin textShadow {
    text-shadow: 1px 1px 3px #8a6d6d;
 }

// section.resume {
//     section.header{
//         h1, h5{
//             @include textShadow;
//         }
//     }
//     section.body-summary{
//         .summary{
//             .header{
//                 @include textShadow;
//             }
//             // background-color: red;
//         }
//         .skill-sets{
//             .skill-set-container{
//                 .skill-set-module{
//                     .header{
//                         @include textShadow;
//                         text-decoration: underline;
//                     }
//                 }
//             }
//         }
//     }
// }


hr{
    @extend .w-75;
    @extend .my-2;
    border-top-color: black !important;
}

.label{
    font-weight: bold;
    @include textShadow;
}

.background-shadow{
    @include textShadow;
}

.section-divider{
    @extend .mt-4;
}

.primary-color{
    color: rgb(107, 69, 19);
}

.secondary-color{
    color: rgb(78, 73, 67);
}