
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

@import '../_vars';

@mixin textShadow {
    text-shadow: 1px 1px 3px $background_shadow_color;
 }

// section.resume {
//     section.header{
//         h1, h5{
//             @include textShadow;
//         }
//     }
//     section.body-summary{
//         .summary{
//             .header{
//                 @include textShadow;
//             }
//             // background-color: red;
//         }
//         .skill-sets{
//             .skill-set-container{
//                 .skill-set-module{
//                     .header{
//                         @include textShadow;
//                         text-decoration: underline;
//                     }
//                 }
//             }
//         }
//     }
// }
a{
    color: $site_icon_color;
    &:hover{
        color: $site_icon_color;
        text-decoration: underline;
    }
}

hr{
    @extend .w-75;
    @extend .my-2;
    border-top-color: white !important;
}

.label{
    font-weight: bold;
    @include textShadow;
}

.background-shadow{
    @include textShadow;
    color: $site_icon_color;
    font-weight: bold;
}

.section-divider{
    @extend .mt-4;
}
