<nav id="sitenav" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/">SD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        [attr.data-target]="'#'+navigatorLinkContentElementId" [attr.aria-controls]="navigatorLinkContentElementId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="{{navigatorLinkContentElementId}}">
        <ul class="nav justify-content-md-center ">
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu()" [routerLinkActiveOptions]="{exact:true}"
                    routerLinkActive="activelink" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu()" [routerLinkActiveOptions]="{exact:
                    true}" routerLinkActive="activelink" routerLink="/resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/saptarshidebnath/" target="_linkedin">Linkedin</a>
            </li>
        </ul>
    </div>
</nav>