@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");

nav#sitenav {
    a.navbar-brand {
        font-family: "Lobster Two", cursive;
        font-size: 3em;
        font-weight: bold;
        color: #8c141f;
        text-shadow: 5px 5px 5px #634747;
    }
    a.activelink {
        text-decoration: underline;
        font-weight: bold;
    }
    div#navbarSupportedContent {
        ul > li > a {
            font-size: 1.5em;
            color: rgb(28, 15, 102);
        }
    }
}
