@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
@import '../_vars';
nav#sitenav {
    a.navbar-brand {
        font-family: "Lobster Two", cursive;
        font-size: 3em;
        font-weight: bold;
        color: $site_icon_color;
        text-shadow: 5px 5px 5px $background_shadow_color;
    }
    a.activelink {
        text-decoration: underline;
        font-weight: bold;
    }
    div#navbarSupportedContent {
        ul > li > a {
            font-size: 1.5em;
            color: $link_color;
        }
    }
}
