/* You can add global styles to this file, and also import other style files */

/** The font is used as OFL License
/* latin-ext */

@import "~src/scss/imports";

html,
body {
  color: white;
  // font-family: 'Karla', sans-serif;
  font-family: "Bitter", serif;
  font-size: 6vw;
  color: $font-color;
  a {
    color: $font-color;
    @include addTransition(color);
    &:hover {
      color: #00bfff;
      @include addTransition(color);
    }
  }
}
// @media screen and (max-width: $media-screen-width) {
 
// }

.textheader {
  font-family: "Dosis", sans-serif;
}

.headline {
  font-family: "Grand Hotel", cursive;
}
