@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//Default is mobile

section.page-home {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        h1.banner-text {
            font-family: "Pacifico", cursive;
            font-size: 5em;
            text-align: center;
            text-shadow: 5px 5px 5px #634747;
            padding-bottom: 8vh;
        }
        p.banner-intro {
            font-size: 1.5em;
            text-align: center;
            text-shadow: 5px 5px 5px #634747;
        }
    }
}

@include media-breakpoint-up(md) {
    section.page-home {
        div {
            h1.banner-text {
                font-size: 9em;
            }
            p.banner-intro {
                font-size: 1.5em;
            }
        }
    }
}
